<section class="card">

  <h2  class="heading--sm center-text mb-4 card__title">Create an account</h2>
  
  <div class="card__container">

    <p class="center-text mb-4 content-lg ">CONTINUE WITH</p>
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <div data-turbo="false">
          <%=form_with(url: omniauth_authorize_path(resource_name, provider), method: :post) do |f|%>
            <%=f.submit "GITHUB" ,class: "button button--secondary button--max  mb-4"   %>
          <%end%>
        </div>
      <% end %>
    <% end %>

    <p class="center-text mb-4 content-lg ">OR</p>

    <%= form_for(resource, as: resource_name,url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field mb-4">
      <%= f.label :username ,"USERNAME"%>
      <div class="input__container">
        <%= f.text_field :username ,  class: "input__content", placeholder: "example"%>
      </div>
    </div>

   <div class="field mb-4">
        <%= f.label :email , "EMAIL"%>
        <div class="input__container">
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,  class: "input__content ", placeholder: "example@gmail.com"%>
          </div>
      </div>

      <div class="field mb-4">
        <%= f.label :name , "NAME"%>
        <div class="input__container">
            <%= f.text_field :name ,  class: "input__content", placeholder: "Example Name"%>
        </div>
      </div>

      <div class="field mb-4">
        <%= f.label :avatar , "AVATAR"%><br />
        <%= f.file_field :avatar %>
      </div>

      <div class="field mb-4">
        <%= f.label :password , "PASSWORD"%>
        <div class="input__container">
            <%= f.password_field :password, autocomplete: "new-password",  class: "input__content", placeholder: "*******" %>
        </div>
      </div>

      <div class="field mb-4">
        <%= f.label :password_confirmation , "PASSWORD_CONFIRMATION"%>
        <div class="input__container">
          <%= f.password_field :password_confirmation, autocomplete: "new-password",  class: "input__content", placeholder: "*******" %>
        </div>
      </div>

      <div class="actions mb-4" data-turbo="false">
        <%= f.submit "Sign up", class: "button button--primary button--max"  %>
      </div>
    <% end %>
    <p class="center-text mb-4">Already a member?</p>
    <%= render "devise/shared/links" %>
  </div>
</section>