<h1 class="heading center-text mb-4">Home</h1>
<%= render "form", tweet: @tweet %>

<%@tweets.each do |tweet|%>
  <div>
    <div>
    <%= image_tag(User.find(tweet.user_id).avatar) if User.find(tweet.user_id).avatar.attached?%>  
    </div>
    <div>
    <%=User.find(tweet.user_id).name%>
    <%=User.find(tweet.user_id).username%>
    </div>
    <div>
    <%=time_ago_in_words(tweet.updated_at)%> ago
    </div>
    <p>
    <%=tweet.body%>
    </p>
    <div>
    <%=tweet.likes_count%> likes
    <%=tweet.replies_count%> replies
    </div>
  
  </div>
  
<% end %>
