<section class="tweets">
  <h2 class="title">Home</h2>
  <%= render "form", tweet: @tweet %>
  <%@tweets.each do |tweet|%>
    <% if tweet.parent_id == nil%>
      <div class="tweet">
        <%= link_to tweet_path(tweet) do %>
          <div class="tweet__header">
            <%= image_tag(User.find(tweet.user_id).avatar, class:"tweet__header--icon") if User.find(tweet.user_id).avatar.attached? %>
            <div class="tweet__header--data">
              <div class="flex">
                <p class="tweet__header--name">
                  <%=User.find(tweet.user_id).name%>
                </p>
                <p class="tweet__header--user">
                  <%=User.find(tweet.user_id).username%>
                </p>
              </div>
              <p class="tweet__header--time"><%=time_ago_in_words(tweet.updated_at)%> ago</p>
            </div>
          </div>
          <div class="tweet__content">
            <p class="mb-4 tweet__content--text">
              <%=tweet.body%>
            </p>
          </div>
        <% end %>
        <div class="tweet__actions">
          <div class="flex">
            <div class="flex tweet__action--left ">
              <%= button_to tweet_path(tweet), method: :delete, "data-turbo": "false" ,class: "tweet__action--delete" do %>
                <%=image_tag "icons/delete.svg", class: "footer__students--icon"%>
              <% end %>
            </div>
            <div class="flex tweet__action--left ">
              <%= link_to edit_tweet_path(tweet) do %>
                <%=image_tag "icons/edit.svg", class: "footer__students--icon"%>
              <% end %>
            </div>
          </div>
          <div class="flex">
            <div class="flex tweet__action--right">
              <%=image_tag "icons/msn.svg", class: "footer__students--icon"%>
              <p><%=tweet.replies_count%> </p>
            </div>
            <div class="flex tweet__action--right ">
              <% if user_signed_in? && tweet.liked?(current_user) %>
              <%= button_to image_tag("icons/heart.svg"), unlike_tweet_path(tweet), method: :delete, data: { turbo: "false" }, class: "footer__students--icon" %>
              <% else %>
              <%= button_to image_tag("icons/heart.svg"), like_tweet_path(tweet), class: "footer__students--icon" %>
              <% end %>
              <%=tweet.likes_count%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</section>
