<div  class="tweet">
  <div class="tweet__header">
    <%= image_tag(User.find(@tweet.user_id).avatar, class:"tweet__container--icon") if User.find(@tweet.user_id).avatar.attached? %> 
    <div class="tweet__header--data">
      <div class="flex">
          <p class="tweet__header--name">
              <%=User.find(@tweet.user_id).name%>
          </p>
          <p class="tweet__header--user">
              <%=User.find(@tweet.user_id).username%>
          </p>
      </div>
      <p class="tweet__header--time"><%=time_ago_in_words(@tweet.updated_at)%> ago</p>
    </div> 
  </div>
  <p class="mb-2">
    <%=@tweet.body%>
  </p>
  <div class="tweet__actions">
    <%= link_to "Edit tweet", edit_tweet_path(@tweet)%>
    <%= button_to "Delete tweet", tweet_path(@tweet), method: :delete, data: { turbo: "false" } %>
    <div class="flex tweet__action ">
      <%=image_tag "icons/msn.svg", class: "footer__students--icon"%>
      <p><%=@tweet.replies_count%> </p>
    </div>
    <div class="flex tweet__action ">
      <%=image_tag "icons/heart.svg", class: "footer__students--icon"%>
      <%=@tweet.likes_count%> 
    </div>
  </div>
</div>
<%= form_with(model: [@tweet, @new_tweet], method: :post) do |f| %>
  <%= error_for(@tweet, :body) %>
  <div>
    <%= f.text_area :body, placeholder: "Write your tweet here...", autofocus: true%>
  </div>
  <%= f.submit "Reply"%>
<% end %>

<%= console %>
<h2 class="heading mb-4">Replies</h2>
<% @tweet.replies.each do |reply| %>
<div  class="tweet">
  <div class="tweet__header">
    <%= image_tag(User.find(reply.user_id).avatar, class:"tweet__container--icon") if User.find(reply.user_id).avatar.attached? %> 
    <div class="tweet__header--data">
      <div class="flex">
        <p class="tweet__header--name">
          <%=User.find(reply.user_id).name%>
        </p>
        <p class="tweet__header--user">
          <%=User.find(reply.user_id).username%>
        </p>
      </div>
      <p><%=time_ago_in_words(reply.updated_at)%> ago</p>
    </div> 
  </div>  
  <p class="mb-2">
  <%=reply.body%>
  </p>
  <div class="tweet__actions">
    <%= link_to "Edit tweet", edit_tweet_tweet_path(@tweet, reply)%>
    <%= button_to "Delete tweet", tweet_tweet_path(@tweet, reply), method: :delete, data: { turbo: "false" } %>
    <div class="flex tweet__action ">
      <%=image_tag "icons/msn.svg", class: "footer__students--icon"%>
      <p><%=reply.replies_count%> </p>
    </div>
    <div class="flex tweet__action ">
      <%=image_tag "icons/heart.svg", class: "footer__students--icon"%>
      <%=reply.likes_count%> 
    </div>
  </div>
</div>
<% end %>
