<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container">
    <header class="header">
      <div class="menu-container">
        <%=link_to image_tag("logo"), root_path, class: "logo"%>
        <div class="dropdown-button">
          <%=image_tag "icons/menu.svg", class: "dropdown-icon menu active"%>
          <%=image_tag "icons/close.svg", class: "dropdown-icon close"%>
        </div>
      </div>
      <ul class="dropdown-menu">
        <% if user_signed_in? %>
          <li>Welcome <%= current_user.name %></li>
          <li><%= link_to 'Profile', profiles_path(current_user.id), class: "link" %></li>
          <li><%= button_to "Sign out", destroy_user_session_path, class: "button button--secondary", method: :delete %></li>
        <% else %>
          <li><%= link_to 'Log In', user_session_path, class: "button button--primary" %></li>
        <% end %>
      </ul>   
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </header>
    <%= yield %>
    <footer class="footer">
      <div class="footer__content">
        <p>© 2021 - Codeable Tweetable</p>
        <p>Build with ♥ by</p>
        <div class="footer__students mb-2">
        
          <div class="footer__students--link">
            <%=image_tag "icons/linkedin.svg", class: "footer__students--icon"%>
            <%= link_to "Austin Linares", "https://www.linkedin.com/in/austin-linares-castillo/", target: "_blank" %>
          </div>

           <div class="footer__students--link">
             <%=image_tag "icons/linkedin.svg", class: "footer__students--icon"%>
            <%= link_to "Alonso Zevallos", "https://www.linkedin.com/in/alonsozevallosfournier94/", target: "_blank" %>
          </div>

          <div class="footer__students--link">
            <%=image_tag "icons/linkedin.svg", class: "footer__students--icon"%>
           <%= link_to "Claudia Berríos", "https://www.linkedin.com/in/claudia-berr%C3%ADos-ledesma-939265b9/", target: "_blank" %>
          </div>
         
        </div>
        <div class="footer__students">
          <div class="footer__students--link">
            <%=image_tag "icons/linkedin.svg", class: "footer__students--icon"%>
            <%= link_to "Marco Atencio", "https://www.linkedin.com/in/marcoatencio/", target: "_blank" %>
          </div>
          <div class="footer__students--link">
            <%=image_tag "icons/linkedin.svg", class: "footer__students--icon"%>
            <%= link_to "Renato", "https://www.linkedin.com/in/marcoatencio/", target: "_blank" %>
          </div>
        </div>
      </div>
    </footer>
    <script>
      // For Menu
      dropdownButton = document.querySelector(".dropdown-button")
      dropdownMenu = document.querySelector(".dropdown-menu")
      openBtn = dropdownButton.querySelector(".dropdown-icon.menu")
      closeBtn = dropdownButton.querySelector(".dropdown-icon.close")

      dropdownButton.addEventListener("click", () => {
        if (openBtn.classList.contains("active")){
          openBtn.classList.remove("active")
          closeBtn.classList.add("active")
        } else {
          openBtn.classList.add("active")
          closeBtn.classList.remove("active")
        }

        dropdownMenu.classList.toggle("dropdown-active-menu")
      });


      // For profile
      madeBtn = document.querySelector(".info-button.made")
      likesBtn = document.querySelector(".info-button.likes")
      madeContent = document.querySelector(".tweets-made")
      likesContent = document.querySelector(".tweets-liked")

      madeBtn.addEventListener("click", () => {
        madeBtn.classList.add("active")
        madeContent.classList.add("active")

        likesBtn.classList.remove("active")
        likesContent.classList.remove("active")
      });

      likesBtn.addEventListener("click", () => {
        likesBtn.classList.add("active")
        likesContent.classList.add("active")

        madeBtn.classList.remove("active")
        madeContent.classList.remove("active")
      });
    </script>
  </body>
</html>
